.container {
    background-image: url("./bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    font-size: 1.2em;
    color: #333;
    width: 100%;
    height: 80%;
    padding-top: 10%;
    padding-bottom: 1%;
    margin: 0;
}

.main {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

.category {
    height: fit-content;
    width: 20%;
    max-width: 100%;
    min-width: 150px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #9CBC57, #BC5757);
    flex-direction: column;
    padding: 10px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.category:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.categoryImage{
    height: 100px;
    width: 100px;
    padding: 5px;
}

.categoryImage img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.categoryTitle {
    margin-top: 10px;
    color: black;
    font-size: 1.6em;
    font-weight: 600;
}

.categoryNumber {
    margin-top: 10px;
    color: black;
    font-size: 1.1em;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .container {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .category {
        width: 30%;
    }
}

@media (max-width: 450px) {
    .container {
        padding-top: 150px;
    }

    .category {
        width: 80%;
    }
}