.container {
    background-color: #f0f0f0;
    text-align: center;
    font-size: 1.2em;
    color: #333;
    width: 100%;
    height: 100%;
    padding-top: 10%;
}

.main {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.category {
    height: 300px;
    width: 20%;
    min-width: 200px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    background: linear-gradient(to bottom, #9CBC57, #BC5757);
}
